@{
    ViewBag.Title = "Trang khách hàng";
}
<div class="container py-5">
    <h2>Xin chào @Session["FullName"]! (Khách hàng)</h2>
    <p>Đây là trang dành cho khách hàng: bạn có thể xem/đặt lịch, lịch sử, cập nhật thông tin…</p>
</div>
